In [1]:
import pandas as pd
from datetime import datetime, timedelta

In [2]:
# Read the data from the CSV file named "Assignment_Timecard.xlsx - Sheet1.csv" into a Pandas DataFrame

In [3]:
df = pd.read_csv("Assignment_Timecard.xlsx - Sheet1.csv")

In [4]:
# Access the most of column of the DataFrame and assign it to the variable like as'position_id','Time','Time Out','Employee Name' etc.

In [5]:
position_id = df['Position ID']
# position_status = df['Position Status']
time_In = list(df['Time'])
time_out = list(df['Time Out'])
time_hour = list(df['Timecard Hours (as Time)'])
Employee_name = list(df['Employee Name'])
# File_Number= df['File Number']

In [6]:
# Print the entire DataFrame

In [7]:
df

,Position ID,Position Status,Time,Time Out,Timecard Hours (as Time),Pay Cycle Start Date,Pay Cycle End Date,Employee Name,File Number,Unnamed: 9,Unnamed: 10
0,WFS000054,Active,NaN,NaN,NaN,NaN,NaN,"SiWgh, PraGhjEM",54,NaN,NaN
1,WFS000065,Active,09/12/2023 10:08 AM,09/12/2023 01:53 PM,3:45,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65,NaN,NaN
2,WFS000065,Active,09/12/2023 02:23 PM,09/12/2023 07:02 PM,4:39,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65,NaN,NaN
3,WFS000065,Active,09/13/2023 10:08 AM,09/13/2023 02:20 PM,4:12,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65,NaN,NaN
4,WFS000065,Active,09/13/2023 02:50 PM,09/13/2023 08:44 PM,5:54,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1479,WFS000589,Active,09/20/2023 09:55 AM,09/20/2023 02:30 PM,4:35,09/10/2023,09/23/2023,"WgAyeW, RayCEWd",589,NaN,NaN
1480,WFS000589,Active,09/20/2023 03:00 PM,09/20/2023 07:29 PM,4:29,09/10/2023,09/23/2023,"WgAyeW, RayCEWd",589,NaN,NaN
1481,WFS000589,Active,09/21/2023 09:56 AM,09/21/2023 02:30 PM,4:34,09/10/2023,09/23/2023,"WgAyeW, RayCEWd",589,NaN,NaN
1482,WFS000589,Active,09/21/2023 03:00 PM,09/21/2023 07:16 PM,4:16,09/10/2023,09/23/2023,"WgAyeW, RayCEWd",589,NaN,NaN
1483,WFS000591,Active,NaN,NaN,NaN,NaN,NaN,"ArveXE RECerE, AWdres JesAs",591,NaN,NaN

# (C) Who has worked for more than 14 hours in a single shiftÂ¶
# OUTPUT- Employee NAME :: DeXgadiXXE REdarMe, ChrisMiaW S, Position ID :: WFS000523

In [8]:
# Create a list outside the loop to store employee indices

In [9]:
Employee_indices = []

In [10]:
# Assume time_hour is a list containing time values in the format "HH:MM"

In [11]:
for time in time_hour:
    if type(time) !=float:                                       # Check if the type of the time is not float
        hours, minutes = time.split(":")                         # Split the time into hours and minutes
        total_minutes = (int(hours)*3600) + (int(minutes)*60)    # Calculate total minutes from hours and minutes
        if total_minutes > (14*3600):                            # Check if total minutes is greater than 14 hours (14 * 3600 seconds)
            Employee_indices.append(time_hour.index(time))       # If true, add the index of the current time to the employee list
            for i in Employee_indices:                           # Print the names and position IDs of employees with time greater than 14 hours
                print(f"Employee NAME :: {Employee_name[i]}, Position ID :: {position_id[i]}")

Employee NAME :: DeXgadiXXE REdarMe, ChrisMiaW S, Position ID :: WFS000523

# (A) who has worked for 7 consecutive days.73

In [12]:
# Assuming 'df' is a DataFrame, the following lines convert the 'Time' column to datetime objects.

In [13]:
 #convert the 'Time Out' column to datetime objects and assign the result back to the 'Time Out' column.

In [14]:
df['Time'] = pd.to_datetime(df['Time'])         # Convert the 'Time' column to datetime objects and assign the result back to the 'Time' column.
df['Time Out'] = pd.to_datetime(df['Time Out']) #convert the 'Time Out' column to datetime objects and assign the result back to the 'Time Out' column.

C:\Users\Aman\AppData\Local\Temp\ipykernel_9912\1780504652.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Time Out'] = pd.to_datetime(df['Time Out']) #convert the 'Time Out' column to datetime objects and assign the result back to the 'Time Out' column.

In [15]:
df.sort_values(['Employee Name', 'Time'], inplace=True)

In [16]:
# Function to check if a list of dates represents consecutive days

In [17]:
def are_consecutive_dates(df_list):
    return all((df_list[i + 1] - df_list[i]).days == 1 for i in range(len(df_list) - 1))

In [18]:
# Filter employees who have worked for 7 consecutive days

In [19]:
consecutive_days_threshold = 7

In [20]:
# Dictionary to store employees who worked 7 consecutive days

In [21]:
employees_7_consecutive_days = {}

In [22]:
# Iterate through the DataFrame

In [23]:
for i in range(len(df)):                                                       
    if not pd.isna(df["Time"][i]) and isinstance(df["Time"][i], pd.Timestamp):  # Check if the "Time" column is not NaN and is an instance of Timestamp
        date_only_str = df["Time"][i].date().strftime("%Y-%m-%d")               # Extract the date part from the Timestamp and format it as "YYYY-MM-DD"

        if df["Employee Name"][i] in employees_7_consecutive_days:              # Check if the employee is already in the dictionary
            employees_7_consecutive_days[df["Employee Name"][i]].add(date_only_str[-2:]) # Add the last two characters of the date (day part) to the employee's set

        else:
            employees_7_consecutive_days[df["Employee Name"][i]] = set(date_only_str[-2:]) # If the employee is not in the dictionary, create a new set with the day part

for i,j in employees_7_consecutive_days.items():                           # Iterate through the dictionary items (employee names and their sets of days)
    sorted_ele = sorted(j)                                                 # Sort the set of days
    consecutive_count=1
    for k in range(len(sorted_ele)-1):                                     # Iterate through the sorted days to find consecutive counts
        if int(sorted_ele[k])+1 == int(sorted_ele[k+1]):                   # Check if the current day + 1 is equal to the next day
            consecutive_count+=1                                           # If true, increment the consecutive count
        else:
            consecutive_count=1                                            # If not consecutive, reset the count

    if consecutive_count>=7:                                               # Check if the consecutive count is greater than or equal to 7
        position_id = df[df["Employee Name"] == i]["Position ID"].iloc[0]  # Find the corresponding Position ID for the employee

        print(f"Employee NAME :: {i}, Position. ID :: {position_id}")      # Print the employee's name and position ID

Employee NAME :: Sparks, KeWWeMh, Position. ID :: WFS000101
Employee NAME :: CEreira Jr, JEse, Position. ID :: WFS000456
Employee NAME :: GAeWdia, JAaW CarXEs, Position. ID :: WFS000473

# (B) who have less than 10 hours of time between shifts but greater than 1 hour

In [24]:
# This function takes two datetime objects, 'time_out' and 'time_in', and calculates the time difference in hours.

In [25]:
def calculate_time_difference(time_out, time_in):
    return (time_in - time_out).total_seconds() / 3600

In [26]:
# Sort the DataFrame by 'Employee Name' and 'Time In'
# Already sorted upside function

In [27]:
# Loop through the DataFrame starting from the second row (index 1)

In [28]:
for i in range(1, len(df)):
    if df.iloc[i]["Employee Name"] == df.iloc[i - 1]["Employee Name"]:    # Check if the current row and the previous row have the same 'Employee Name'
        time_out = df.iloc[i - 1]["Time Out"]                             # Extract the 'Time Out' from the previous row and 
        time_in = df.iloc[i]["Time"]                                      # 'Time In' from the current row
        if time_out and time_in:                                          # Check if both 'Time Out' and 'Time In' are not empty (not None)
            time_difference = calculate_time_difference(time_out, time_in)   # Calculate the time difference using the 'calculate_time_difference' function
            if 1 < time_difference < 10:                                  # Check if the time difference is between 1 and 10 hours
                                              # Print a message indicating that the employee has less than 10 hours but more than 1 hour between shifts.
                print(f"Employee NAME :: {df.iloc[i]['Employee Name']} (Position. ID :: {df.iloc[i]['Position ID']}) Has Less than 10 Hours but Greater than 1 Hour between Shifts.")

Employee NAME :: CEreira Jr, JEse (Position. ID :: WFS000456) Has Less than 10 Hours but Greater than 1 Hour between Shifts.
Employee NAME :: CaMaXaWE, CeghaW (Position. ID :: WFS000153) Has Less than 10 Hours but Greater than 1 Hour between Shifts.
Employee NAME :: CaMaXaWE, CeghaW (Position. ID :: WFS000153) Has Less than 10 Hours but Greater than 1 Hour between Shifts.
Employee NAME :: De Xa Cerda, IgWaciE (Position. ID :: WFS000318) Has Less than 10 Hours but Greater than 1 Hour between Shifts.
Employee NAME :: DeXgadiXXE REdarMe, ChrisMiaW S (Position. ID :: WFS000523) Has Less than 10 Hours but Greater than 1 Hour between Shifts.
Employee NAME :: HaCiXMEW, DeaWMe DevEW (Position. ID :: WFS000536) Has Less than 10 Hours but Greater than 1 Hour between Shifts.
Employee NAME :: MraW, WiXXiaC Ha (Position. ID :: WFS000345) Has Less than 10 Hours but Greater than 1 Hour between Shifts.
Employee NAME :: REdrigAez, GraWdEW AWgeX (Position. ID :: WFS000550) Has Less than 10 Hours but Greater than 1 Hour between Shifts.
Employee NAME :: Xee, XaCar (Position. ID :: WFS000200) Has Less than 10 Hours but Greater than 1 Hour between Shifts.
Employee NAME :: Xee, XaCar (Position. ID :: WFS000200) Has Less than 10 Hours but Greater than 1 Hour between Shifts.
Employee NAME :: Xee, XaCar (Position. ID :: WFS000200) Has Less than 10 Hours but Greater than 1 Hour between Shifts.